:root {
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
}

body {
    font-family: 'Epilogue', sans-serif;
    padding: 1px 1px;
}

h1 {
    font-size: 70px;
    width: 150px;
    margin-left: 50px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: var(--Medium-Gray);
    margin: 10px;
    display: inline;
}

a:hover {
    color: var(--Almost-Black);
}

.nav-ul {
    margin: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-btns {
    margin-right: 30px;
}

.nav-btns button:nth-child(1) {
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--Medium-Gray);
    cursor: pointer;
    font-weight: 600;
}

.nav-btns button:nth-child(1):hover {
    color: var(--Almost-Black);
    font-weight: 600;
}

.nav-btns button:nth-child(2) {
    outline: none;
    border: 1px solid var(--Medium-Gray);
    padding: 10px 25px;
    border-radius: 15px;
    background-color: transparent;
    color: var(--Medium-Gray);
    cursor: pointer;
    font-weight: 600;
}

.nav-btns button:nth-child(2):hover {
    color: var(--Almost-Black);
    border: 1px solid var(--Almost-Black);
    font-weight: 600;
}

.lock {
    overflow: hidden;
}

.menu-img {
    display: none;
}

.overlay {
    display: none;
}

.title-desktop {
    font-size: 70px;
    width: 500px;
    font-weight: 700;
    margin-top: 170px;
    margin-bottom: 60px;
}

.p-desktop {
    font-size: 18px;
    color: var(--Medium-Gray);
    line-height: 27px;
}

.hero {
    display: grid;
    grid-template-columns: auto auto; /* ou repeat(2, 450px ou auto)*/
    grid-gap: 80px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.img-container {
    width: 100%;
}

#hero-img {
    height: 730px;
}

.logos {
    margin-top: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-button {
    margin-top: 80px;
    border: 1px solid var(--Almost-Black);
    outline: none;
    background-color: var(--Almost-Black);
    color: var(--Almost-White);
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    transition: all 1s;
}

.hero-button:hover {
    background-color: transparent;
    border: 1px solid var(--Almost-Black);
    color: var(--Almost-Black);
    font-weight: 700;
    cursor: pointer;
    transition: all 1s;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 15px;
    color: var(--Medium-Gray);
}

.dropdown-content-features {
    border-radius: 10px;
    margin-top: 0px;
    padding: 9px;
    display: none;
    position: absolute;
    background: var(--Almost-White);
    width: 130px;
    z-index: 2;
    box-shadow: 0px 8px 16px 0 var(--Medium-Gray);
    right: 16px;
}

.dropdown-content_company {
    border-radius: 10px;
    margin-top: 0px;
    padding: 3px;
    display: none;
    position: absolute;
    background: var(--Almost-White);
    width: 107px;
    z-index: 2;
    box-shadow: 0px 8px 16px 0 var(--Medium-Gray);
    right: 5px;
}

.dropdown-content-features a {
    color: var(--Medium-Gray);
    padding: 5px 6px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.dropdown-content-features a:hover {
    color: var(--Almost-Black);
    font-weight: 500;
}

.dropdown-content_company a {
    color: var(--Medium-Gray);
    padding: 5px 6px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.dropdown-content_company a:hover {
    color: var(--Almost-Black);
    font-weight: 500;
}

.dropdown-content-features img {
    margin-right: 10px;
}

.dropdown:hover .dropdown-content_company {
    display: block;
}

.dropdown:hover .dropdown-content-features {
    display: block;
}

@media screen and (min-width: 1440px) {
    .p-mobile {
        display: none;
    }

    #hero-img-mobile {
        display: none;
    }

    .title-mobile {
        display: none;
    }
}

@media screen and (min-width: 1366px) {
    .p-mobile {
        display: none;
    }

    #hero-img-mobile {
        display: none;
    }

    .title-mobile {
        display: none;
    }
}

@media screen and (max-width: 375px) {

    nav {
        justify-content: space-between;
        margin: 0 20px;
    }

    h1 {
        margin-left: 5px;
    }

    .nav-btns {
        display: none;
    }

    .nav-btns-mobile {
        display: grid;
        text-align: center;
    }

    .nav-btns-mobile button:nth-child(1) {
        border: none;
        outline: none;
        background-color: transparent;
        color: var(--Medium-Gray);
        cursor: pointer;
        font-weight: 600;
    }
    
    .nav-btns-mobile button:nth-child(2) {
        outline: none;
        border: 1px solid var(--Medium-Gray);
        padding: 10px 25px;
        border-radius: 15px;
        background-color: transparent;
        color: var(--Medium-Gray);
        cursor: pointer;
        margin-top: 15px;
        font-weight: 600;
    }

    .nav-ul {
        display: none;
    }

    .menu-img {
        display: block;
    }

    .hero {
        display: block;
    }

    #hero-img {
        display: none;
    }

    #hero-img-mobile {
        width: 100%;
    }
    .title-desktop {
        display: none;
    }

    .title-mobile {
        font-size: 38px;
        font-weight: 700;
        margin: 40px auto;
        text-align: center;
        }

    .p-desktop {
        display: none;
    }

    .p-mobile {
        margin: 0 20px;
        font-size: 16px;
        text-align: center;
        line-height: 25px;
    }

    .hero-button {
        display: grid;
        margin: 60px auto;
    }

    .logos {
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .logos img {
        width: 60px;
    }

    .overlay {
        display: none;
    }

    .mobile-nav {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        position: absolute;
        top: 0px;
        right: 0;
        display: none;
        background-color: var(--Almost-White);
        padding: 10px;
        width: 180px;
        height: 10vh;
    }

    .overlay {
        width: 100%;
        background-color: #ffffff;
    }

    .show {
        display: flex;
        background-color: #ffffff;
        width: 200px;
        height: 900px;
    }

    .mobile-nav img {
        text-align: right;
    }

    a {
        margin: 0;
    }

    .mobile-nav-con {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: left;
        justify-content: end;
        background: rgb(255, 255, 255);
        padding: 5px;
        position: absolute;
        top: 78px;
        left: 0px;
    }

    .mobile-nav-con > * {
        padding: 20px;
    }
    
}
