:root {
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
}

body {
    font-family: 'Epilogue', sans-serif;
    padding: 1px 1px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-nav-bar {
    display: flex;
}

#toggle {
    display: none;
}

h1 {
    display: flex;
    font-size: 70px;
    width: 106px;
    margin-left: 50px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box {
    display: flex;
    align-items: center;
}

.nav-bar {
    text-decoration: none;
    color: var(--Medium-Gray);
    margin-right: 30px;
    padding-top: 3px;
}

a:hover {
    color: var(--Almost-Black);
}

.nav-ul {
    margin: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.box-nav-bar {
    display: flex;
    justify-content: space-between;
}

.nav-btns {
    margin-right: 30px;
}

.nav-btns button:nth-child(1) {
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--Medium-Gray);
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.nav-btns button:nth-child(1):hover {
    color: var(--Almost-Black);
    font-weight: 400;
}

.nav-btns button:nth-child(2) {
    outline: none;
    border: 1px solid var(--Medium-Gray);
    padding: 10px 25px;
    border-radius: 15px;
    background-color: transparent;
    color: var(--Medium-Gray);
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.nav-btns button:nth-child(2):hover {
    color: var(--Almost-Black);
    border: 1px solid var(--Almost-Black);
    font-weight: 400;
}

.lock {
    overflow: hidden;
}

.menu-img {
    display: none;
}

.overlay {
    display: none;
}

.title-desktop {
    font-size: 70px;
    width: 500px;
    font-weight: 700;
    margin-top: 170px;
    margin-bottom: 60px;
}

.p-desktop {
    font-size: 18px;
    color: var(--Medium-Gray);
    line-height: 27px;
}

.hero {
    display: grid;
    grid-template-columns: auto auto; /* ou repeat(2, 450px ou auto)*/
    grid-gap: 80px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.img-container {
    width: 100%;
}

#hero-img {
    height: 730px;
}

.logos {
    margin-top: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-button {
    margin-top: 80px;
    border: 1px solid var(--Almost-Black);
    outline: none;
    background-color: var(--Almost-Black);
    color: var(--Almost-White);
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    transition: all 1s;
}

.hero-button:hover {
    background-color: transparent;
    border: 1px solid var(--Almost-Black);
    color: var(--Almost-Black);
    font-weight: 700;
    cursor: pointer;
    transition: all 1s;
}

.active {    
    background: var(--Almost-White);       
    cursor: pointer;    
  }

.dropdown {
    font-family: 'Epilogue', sans-serif;
    position: relative;
    display: inline-block;
    margin-right: 30px;
    color: var(--Medium-Gray);
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
}

.dropdown:hover {
    color: var(--Almost-Black);
}

.dropdown img:hover {
    color: var(--Almost-Black);
}

.dropdownCom {
    font-family: 'Epilogue', sans-serif;
    position: relative;
    display: inline-block;
    color: var(--Medium-Gray);
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
}

.dropdown-content-features {
    border-radius: 10px;
    margin-top: 0px;
    padding: 9px;
    display: none;
    position: absolute;
    background: var(--Almost-White);
    width: 130px;
    z-index: 2;
    box-shadow: 0px 8px 16px 0 var(--Medium-Gray);
    left: 120px;
    top: 72px;
}

.dropdown-content_company {
    border-radius: 10px;
    margin-top: 0px;
    padding: 3px;
    display: none;
    position: absolute;
    background: var(--Almost-White);
    width: 107px;
    z-index: 2;
    box-shadow: 0px 8px 16px 0 var(--Medium-Gray);
    right: 27px;
    top: 43px;
}

.links-features {
    color: var(--Medium-Gray);
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
}

.dropdown-content-features a:hover {
    color: var(--Almost-Black);
    font-weight: 500;
}

.dropdown-content_company a:hover {
    color: var(--Almost-Black);
    font-weight: 500;
}

.dropdown-content-features img {
    margin-right: 10px;
}

@media screen and (min-width: 1440px) {
    .p-mobile {
        display: none;
    }

    #hero-img-mobile {
        display: none;
    }

    .title-mobile {
        display: none;
    }
}

@media screen and (min-width: 1366px) {
    .p-mobile {
        display: none;
    }

    #hero-img-mobile {
        display: none;
    }

    .title-mobile {
        display: none;
    }
}

@media screen and (max-width: 480px) {

    header {
        display: flex;
        flex-direction: column;
        align-items: inherit;
        margin: 0 15px;
    }

    h1 {
        margin-left: 5px;
    }

    .container-nav-bar {
        display: flex;
        justify-content: space-between;
    }

    #toggle {
        position: relative;
        width: 35px;
        height: 35px;
        background-color: var(--Almost-White);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        z-index: 2;
    }
    
    #toggle::before {
        content: '';
        position: absolute;
        width: 22px;
        height: 2px;
        background-color: var(--Almost-Black);
        transition: 0.5s;
        transform: translatey(-8px);
        box-shadow: 0 8px 0 var(--Almost-Black);
    }
    
    #toggle.active::before {
        transform: translatey(0px) rotate(45deg);
        box-shadow: 0 0 0 var(--Almost-Black);
    }
    
    #toggle::after {
        content: '';
        position: absolute;
        width: 22px;
        height: 2px;
        background: var(--Almost-Black);
        transition: 0.5s;
        transform: translatey(8px);
    }
    
    #toggle.active::after {
        transform: translatey(0px) rotate(-45deg);
    }

    .nav-btns {
        display: none;
    }

    .nav-btns-mobile {
        display: flex;
        flex-direction: column;
        align-self: normal;
        text-align: center;
    }

    .nav-btns-mobile button:nth-child(1) {
        border: none;
        outline: none;
        background-color: transparent;
        color: var(--Medium-Gray);
        cursor: pointer;
        font-weight: 600;
    }
    
    .nav-btns-mobile button:nth-child(2) {
        border: 1px solid var(--Medium-Gray);
        padding: 10px 25px;
        border-radius: 15px;
        background-color: transparent;
        color: var(--Medium-Gray);
        cursor: pointer;
        margin-top: 15px;
        font-weight: 600;
    }

    .menu-img {
        display: block;
    }

    .hero {
        display: block;
    }

    #hero-img {
        display: none;
    }

    #hero-img-mobile {
        width: 100%;
    }
    .title-desktop {
        display: none;
    }

    .title-mobile {
        font-size: 38px;
        font-weight: 700;
        margin: 40px auto;
        text-align: center;
        }

    .p-desktop {
        display: none;
    }

    .p-mobile {
        margin: 0 20px;
        font-size: 16px;
        text-align: center;
        line-height: 25px;
    }

    .hero-button {
        display: grid;
        margin: 60px auto;
    }

    .logos {
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .logos img {
        width: 60px;
    }

    .overlay {
        display: none;
    }

    .nav-ul {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        position: absolute;
        top: 0px;
        right: -220px;
        background-color: var(--Almost-White);
        padding: 25px;
        width: 170px;
        height: 115vh;
        transition: 1s;
    }

    .nav-ul-ativo {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: var(--Almost-White);
        padding: 25px;
        width: 170px;
        height: 115vh;
        transition: 1s;
    }

    .bg {
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        transition: 1s;
    }

    .bg-ativo {
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        background-color: rgba(0,0,0,.6);
        transition: 1s;
    }

    .dropdown-btn-fea {
        margin-top: 62px;
    }

    .dropdown-btn-com {
        margin: 15px 0 15px;
    }

    .dropdown-content-features {
        position: initial;
        box-shadow: none;
        margin-top: 5px;
        padding: 9px;
    }

    .dropdown-content_company {
        position: initial;
        box-shadow: none;
        margin-top: 0px;
        padding: 0 9px 9px;
    }

    .nav-bar {
        margin-left: 6px;
        margin-bottom: 20px;
    }

    .overlay {
        width: 100%;
        background-color: #ffffff;
    }

    .show {
        display: flex;
        background-color: #ffffff;
        width: 200px;
        height: 900px;
    }

    .mobile-nav img {
        text-align: right;
    }

    .mobile-nav-con {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: left;
        justify-content: end;
        background: rgb(255, 255, 255);
        padding: 5px;
        position: absolute;
        top: 78px;
        left: 0px;
    }

    .mobile-nav-con > * {
        padding: 20px;
    }
    
}
